@page
@model Web.Pages.Personas.DetalleModel
@{
}
<header class="subhead">
    <div class="container">
        <div class="masthead-subheading">SC-701: Programación Web Avanzada</div>
        <div class="masthead-heading text-uppercase">Ejercicio persona</div>
    </div>
</header>
<section class="page-section" id="services">
    <div class="container" style="
    max-width: fit-content;
">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Detalle de la persona</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <div class="card mb-3 w-100">
            <div class="row g-0">
                <div class="col-md-4" style="min-width: fit-content;" >
                    <img src="~/assets/img/Persona.webp" class="img-fluid vw-5 p-4" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelo => modelo.persona.Nombre) @Html.DisplayFor(modelo => modelo.persona.Apellido)</h5>
                        <p class="card-text">
                            <div>
                                <b>@Html.DisplayNameFor(modelo => modelo.persona.Identificacion): </b>
                                @Html.DisplayFor(modelo => modelo.persona.Identificacion)
                            </div>
                            <div>
                                <b>@Html.DisplayNameFor(modelo => modelo.persona.Nombre):</b>
                                @Html.DisplayFor(modelo => modelo.persona.Nombre)
                            </div>
                            <div>
                                <b>@Html.DisplayNameFor(modelo => modelo.persona.Apellido):</b>
                                @Html.DisplayFor(modelo => modelo.persona.Apellido)
                            </div>
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="btn btn-primary" asp-page="./Index">Regresar</a>
        <a class="btn btn-warning" asp-page="./Editar" asp-route-id="@Model.persona.Id">Editar</a>
    </div>




</section>